#cabeceraweb {
  background-color: rgb(255, 0, 128);
}
#navegacionprincipal {
    background-color: rgb(43, 226, 128);
}
#lateral {
    background-color: rgb(122, 24, 214);
}
#contenidoprincipal {
    background-color: rgb(11, 115, 81);
}
#pieprincipal {
    background-color: rgb(178, 172, 12);
}